.about-us {
  background-color: #fff;
  padding: 30px;
  font-family: "Open Sans";
  color: #000000;

  @mixin clearfix;
}

.about-us__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.about-us__items {
  list-style: none;
  margin: 0;
  padding: 0;

  &--left {
    @media ($(tablet-widths)) {
      float: left;
    }

    @media ($(desktop-widths)) {
      float: left;
    }
  }

  &--right {
    @media ($(tablet-widths)) {
      float: right;
    }

    @media ($(desktop-widths)) {
      float: right;
    }
  }
}



.about-us__item {
  padding-top: 60px;
  padding-bottom: 16px;

  font-size: 17px;
  font-weight: 700;
  line-height: 17px;

  @media ($(tablet-widths)) {
    width: 300px;
  }

  @media ($(desktop-widths)) {
    width: 300px;
  }
}
