.catalog {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.catalog__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-top: 30px;

  @media ($(tablet-widths)) {

    padding-top: 59px;
  }

  @media ($(desktop-widths)) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 93px;
  }

  @mixin container-w-padding;
}

.catalog__item {
  margin-bottom: 30px;

  @media ($(tablet-widths)) {
    margin-bottom: 54px;
  }

  @media ($(desktop-widths)) {
    margin-bottom: 57px;
  }
}
