.contacts {
  position: relative;
  background-color: #fff;
  padding: 30px;
  font-family: "Open Sans";
  color: #000000;

  @media ($(desktop-widths)) {
    min-height: 525px;
  }
}

.contacts__title {
  margin: 0;
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts__table {
  display: table;
  margin-bottom: 42px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.contacts__row {
  display: table-row;

  @media ($(tablet-widths)) {
    display: inline-block;
    vertical-align: top;
  }
  @media ($(desktop-widths)) {
    display: table-row;
  }
}

.contacts__field {
  display: table-cell;
}

.contacts__value {
  display: table-cell;
  width: 180px;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin-left: -30px;
  margin-bottom: 39px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media ($(tablet-widths)) {
    width: 768px;
    background-size: 100%;
  }

  @media ($(desktop-widths)) {
    float: right;
    width: 50%;
    box-sizing: border-box;
    background-size: 100%;
  }

}

.contacts__box {
  @media ($(desktop-widths)) {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }

}

.contacts__mail-to-button {
  @media ($(tablet-widths)) {
    width: auto;
    margin: 0 auto;
  }
  @media ($(desktop-widths)) {
    float: left;
  }
}
