.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-family: "Open Sans";
  color: #000000;

  @media ($(tablet-widths)) {
    flex-direction: column;
  }
  @media ($(desktop-widths)) {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 225px;
    padding-right: 50px;
    padding-bottom: 105px;
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.contacts__holder {
  @media ($(tablet-widths)) {
    box-sizing: border-box;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media ($(desktop-widths)) {
    width: 350px;
    padding: 0px;
  }
}


.contacts__title {
  width: 260px;
  margin-top: 14px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media ($(tablet-widths)) {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 43px;
    line-height: 50px;
  }
  @media ($(desktop-widths)) {
  }
}

.contacts__table {
  display: table;
  width: 260px;
  margin-bottom: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @media ($(tablet-widths)) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    font-size: 17px;
  }
  @media ($(desktop-widths)) {
    display: table;
    width: 350px;
    padding: 0px;
    margin-bottom: 52px;
  }
}

.contacts__row {
  display: table-row;
  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
  }
  @media ($(desktop-widths)) {
    width: auto;
  }
}

.contacts__field {
  display: table-cell;
}

.contacts__value {
  display: table-cell;
  width: 180px;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin-bottom: 39px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media ($(tablet-widths)) {
    width: 768px;
    height: 457px;
    background-size: 100%;
  }

  @media ($(desktop-widths)) {
    width: 525px;
    height: 457px;
    box-sizing: border-box;
    background-size: 100%;
    margin-bottom: 0px;
  }

}

.contacts__box {
  @media ($(desktop-widths)) {
  }

}

.contacts__mail-to-button {
  width: 260px;
  box-sizing: border-box;
  margin-bottom: 39px;

  @media ($(tablet-widths)) {
    width: auto;
  }
  @media ($(desktop-widths)) {
    width: 230px;
    margin-right: 120px;
    margin-bottom: 0px;
    margin-top: -52px;
  }
}
