.custom-built {
  font-family: "Open Sans";
  color: #000000;
  background-color: #fff;

  @mixin container-w-padding;

}

.custom-built__order-form {
  display: flex;
  flex-direction: column;


}

.custom-built__about {
  margin: 0;
  margin-bottom: 30px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;

  @media ($(tablet-widths)) {
    font-size: 17px;
    line-height: 30px;
  }

  @media ($(desktop-widths)) {
  }
}

.custom-built__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;

  @media ($(tablet-widths)) {
    flex-direction: row;
  }

  @media ($(desktop-widths)) {
  }
}

.custom-built__title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  @media ($(tablet-widths)) {
    width: 150px;
    margin-bottom: 0px;
  }
  @media ($(desktop-widths)) {
  }

}

.custom-built__items {
  display: flex;
  flex-direction: column;;

  @media ($(tablet-widths)) {
    width: 500px;
  }
  @media ($(desktop-widths)) {
    width: 500px;
  }

  &--color {
    @media ($(tablet-widths)) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media ($(desktop-widths)) {
    }
  }
}

.custom-built__item {
  margin-bottom: 22px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;

  &--color {
    @media ($(tablet-widths)) {

      width: 240px;
    }
    @media ($(desktop-widths)) {

    }
  }
}

.custom-built__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media ($(tablet-widths)) {
    flex-direction: row;
    align-items: center;
  }
  @media ($(desktop-widths)) {

  }
}

.custom-built__required {
  margin: 0px;
  margin-bottom: 30px;

  @media ($(tablet-widths)) {
    margin-bottom: 0;
    order: 2;

  }
  @media ($(desktop-widths)) {

  }
}

.custom-built__send-order {
  @media ($(tablet-widths)) {
    width: 230px;

  }
  @media ($(desktop-widths)) {
    margin-left: 150px;

  }
}
