.manufacturing {
  position: relative;

  padding: 30px;
  padding-top: 0px;
  font-family: "Open Sans";
  color: #000000;
  background-color: #fff;

  @mixin clearfix;

  @media ($(tablet-widths)) {
    @mixin container;
  }

}

.manufacturing__container {
  padding-bottom: 30px;
  outline: 1px solid #ececec;

  @media ($(desktop-widths)) {
    float: right;
    width: 367px;
    min-height: 455px;
    padding-bottom: 0px;
  }
}

.manufacturing__title {
  margin: 0;
  padding-left: 91px;
  padding-right: 34px;
  margin-bottom: 150px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media ($(tablet-widths)) {
    margin-bottom: 0px;
  }
  @media ($(desktop-widths)) {
    margin-top: 90px;
  }
}

.manufacturing__video {
  position: absolute;
  top: 48px;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media ($(tablet-widths)) {
    position: static;
    width: 668px;
    height: 455px;
    background-size: 100%;
  }

  @media ($(desktop-widths)) {
    float: left;
    width: 682px;
    height: 455px;
    background-size: 100%;
  }
}

.manufacturing__about {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 34px;
  padding-right: 34px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;

  @media ($(desktop-widths)) {
    margin-bottom: 150px;
  }
}

.manufacturing__make-order {
  width: 192px;
  margin: 0 auto;
}
