.page-footer {
  background-color: #f1f1f1;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  @mixin container-w-padding;

  @media ($(tablet-widths)) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @media ($(tablet-widths)) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 143px;
    padding-bottom: 7px;
    box-sizing: border-box;
    width: 220px;
  }

}

.page-footer__logo-link {
  display: none;

  @media ($(tablet-widths)) {
    display: flex;

  }
}

.page-footer__logo-img {
  &:hover {
    path {
      fill: rgba(70, 193, 174, 1);
    }
  }

  &:active {
    path {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

.page-footer__social {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding-top: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;

  @media ($(tablet-widths)) {
    border-bottom: none;
    padding-top: 7px;
    min-height: 143px;
    width: 220px;


  }
}

.page-footer__copyright {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 80px;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;

  @media ($(tablet-widths)) {
    justify-content: flex-end;
    min-height: 143px;
    width: 220px;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #000000;

  @media ($(tablet-widths)) {
    padding-bottom: 0px;
    padding-top: 2px;
  }

  &:hover {

    .page-footer__academy-icon path {
      fill: rgba(70, 193, 174, 1);
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    .page-footer__academy-icon path {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
}

.page-footer__academy-icon {
  width: 27px;
  height: 34px;
}

.page-footer__wrapper_ie_flex_min-height_fix {
  display: flex;
  flex-direction: column;
}
