.page-footer {
  background-color: #f1f1f1;
  font-family: "Open Sans";
  color: #000000;
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  @mixin container-w-padding;

  @media ($(tablet-widths)) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;
  margin: 0;

  @media ($(tablet-widths)) {
    display: block;
    width: 222px;
    text-align: left;
  }
}

.page-footer__social {
  margin: 0;

  @media ($(tablet-widths)) {
    width: 222px;
    text-align: center;
  }
}

.page-footer__copyright {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;

  @media ($(tablet-widths)) {
    width: 222px;
    text-align: right;
  }
}
