.product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Open Sans";
  color: #000000;
  background-color: #fff;

   @media ($(tablet-widths)) {
     flex-direction: row;
   }

   @media ($(desktop-widths)) {
     flex-direction: column;
     width: 316px;

   }
}

.product__img {
  display: block;

  @media ($(tablet-widths)) {
    width: 50%;
    height: 334px;
  }

  @media ($(desktop-widths)) {
    width: 100%;
  }
}

.product__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #ececec;

  @media ($(tablet-widths)) {
    width: 50%;

  }

  @media ($(desktop-widths)) {
    width: 100%;
    flex-grow: 1;
  }
}

.product__title {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media ($(tablet-widths)) {
    font-size: 20px;
  }

  @media ($(desktop-widths)) {

  }
}

.product__description {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;

  @media ($(tablet-widths)) {
    font-size: 15px;
  }

  @media ($(desktop-widths)) {
    margin-bottom: auto;
  }
}

.product__order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  @media ($(tablet-widths)) {
    font-size: 17px;
  }

  @media ($(desktop-widths)) {

  }
}

.product__buy {
  background-color: transparent;
  border: none;
  outline: none;
}
