.product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #fff;

  @media ($(tablet-widths)) {
    flex-direction: row;
  }

  @media ($(desktop-widths)) {
   flex-direction: column;
   width: 316px;
  }
}

.product__img-wrapper{
  display: block;

  @media ($(tablet-widths)) {
    width: 50%;
  }

  @media ($(desktop-widths)) {
    width: 100%;
  }

  &:hover + .product__box {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active + .product__box {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 27px;
  min-height: 179px;
  box-sizing: border-box;
  border: 1px solid #ececec;

  @media ($(tablet-widths)) {
    width: 50%;

  }

  @media ($(desktop-widths)) {
    width: 100%;
    flex-grow: 1;
    min-height: 197px;

  }
}

.product__title {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media ($(tablet-widths)) {
    font-size: 20px;
  }

  @media ($(desktop-widths)) {

  }
}

.product__description {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 19px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;

  @media ($(tablet-widths)) {
    font-size: 15px;
  }

  @media ($(desktop-widths)) {
    margin-bottom: auto;
  }
}

.product__order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 21px;
  border-top: 1px solid #ececec;

  @media ($(tablet-widths)) {
    padding-left: 5px;
    padding-right: 4px;
  }

  @media ($(desktop-widths)) {
    padding-left: 0px;
  }
}

.product__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media ($(tablet-widths)) {
    font-size: 17px;
  }

  @media ($(desktop-widths)) {

  }
}

.product__buy-link {

  path {
    fill: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    path {
      fill: rgba(99, 209, 187, 1);
    }
  }

  &:active {
    path {
      fill: rgba(99, 209, 187, 0.3);

    }
  }
}
