.reviews {
  position: relative;
  background-color: #fff;
  padding: 30px;
  font-family: "Open Sans";
  font-size: 0;
  color: #000000;

  @mixin clearfix;

  @media ($(tablet-widths)) {
    @mixin container-left-padding;
  }

}

.reviews__title {
  margin: 0;
  margin-bottom: 38px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media ($(tablet-widths)) {
    margin-right: 200px;
  }

  @media ($(desktop-widths)) {
    margin-right: 200px;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.reviews__author-name {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-link {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__slider-button {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  margin-bottom: 38px;

  @media ($(tablet-widths)) {
    width: 100px;
  }

  @media ($(desktop-widths)) {
    width: 100px;
  }
}

.reviews__slider {
  @media ($(tablet-widths)) {
    float: right;
  }

  @media ($(desktop-widths)) {
    float: right;
  }
}

.reviews__write-button {
  @media ($(tablet-widths)) {
    width: auto;
    position: absolute;
    top: 30px;
    right: 50px;
  }

  @media ($(desktop-widths)) {
    width: auto;
  }
}

.reviews__author {
  @media ($(tablet-widths)) {
    float: left;
  }

  @media ($(desktop-widths)) {
    float: left;
  }
}
