.week-best {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 35px;
  padding-top: 27px;
  background-color: #fff;
  font-family: "Open Sans";
  color: #000000;

  @mixin container-w-padding;

  @media ($(tablet-widths)) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 52px;
  }

  @media ($(desktop-widths)) {
    margin-top: 70px;
    padding-bottom: 73px;
  }
}

.week-best__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;


  @media ($(tablet-widths)) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  @media ($(desktop-widths)) {
    justify-content: flex-start;
    position: relative;
    z-index: 10;
  }
}

.week-best__product-name {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  @media ($(tablet-widths)) {
    margin-bottom: 0px;
    font-size: 43px;
    line-height: 50px;
  }

  @media ($(desktop-widths)) {
    font-size: 53px;
    line-height: 57px;
  }
}

.week-best__title {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;

  @media ($(tablet-widths)) {
    margin-top: 5px;
    margin-right: 11px;
    width: 105px;
    text-align: center;
  }

  @media ($(desktop-widths)) {
    order: -1;
    margin-left: 30px;
    margin-right: 40px;
  }
}

.week-best__description {
  margin: 0;
  margin-bottom: 17px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;

  @media ($(tablet-widths)) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 34px;
  }

  @media ($(desktop-widths)) {
    margin-bottom: 44px;
  }
}

.week-best__stats-table {
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;

  @media ($(tablet-widths)) {
    width: 100%;
  }
}

.week-best__field {
  padding: 0;
  padding-bottom: 10px;
  padding-right: 31px;
  padding-top: 10px;
  border-bottom: 1px solid #ececec;

  @media ($(tablet-widths)) {
    width: 90px;
    padding-right: 5px;
  }
}

.week-best__value {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.week-best__img-wrapper {
  margin-bottom: 23px;

  @media ($(tablet-widths)) {
    flex-shrink: 0;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 7px;

  }

  @media ($(desktop-widths)) {
    margin-top: -160px;
  }
}

.week-best__product-price {
  display: block;
  margin-bottom: 26px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  text-align: center;

  @media ($(tablet-widths)) {
    font-size: 20px;
    margin-bottom: 34px;

  }
}

.week-best__order-button {

}

.week-best__body {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 110px;
    padding-right: 44px;

  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
    padding-right: 58px;

  }
}

.week-best__order {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-top: -110px;
    padding-right: 44px;

  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
    padding-right: 58px;

  }
}

.week-best__order-button {

}

.week-best__body {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 113px;
    padding-right: 50px;

  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
  }
}

.week-best__order {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-top: -113px;
    padding-right: 50px;
  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
  }
}
