.week-best {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  font-family: "Open Sans";
  color: #000000;

  @mixin container-w-padding;

  @media ($(tablet-widths)) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
  }

  @media ($(desktop-widths)) {
    margin-top: 70px;
  }
}

.week-best__header {
  display: flex;
  flex-direction: column;

  @media ($(tablet-widths)) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 55px;
  }

  @media ($(desktop-widths)) {
    justify-content: flex-start;
    position: relative;
    z-index: 10;
  }
}

.week-best__product-name {
  margin: 0;
  margin-bottom: 8px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;

  @media ($(tablet-widths)) {
    margin-bottom: 0px;
    font-size: 43px;
    line-height: 50px;
  }

  @media ($(desktop-widths)) {
    font-size: 53px;
    line-height: 57px;
  }
}

.week-best__title {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;

  @media ($(tablet-widths)) {
    width: 105px;
    text-align: center;
  }

  @media ($(desktop-widths)) {
    order: -1;
    margin-left: 30px;
    margin-right: 40px;
  }
}

.week-best__description {
  margin: 0;
  margin-bottom: 34px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;

}

.week-best__stats-table {
}

.week-best__picture {
  display: block;

  @media ($(tablet-widths)) {
    flex-shrink: 0;
    width: 50%;
    box-sizing: border-box;

  }

  @media ($(desktop-widths)) {
    margin-top: -170px;
  }
}

.week-best__product-price {
  display: block;
  margin-bottom: 28px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444;
  text-align: center;
}

.week-best__order-button {

}

.week-best__body {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 113px;
    padding-right: 50px;

  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
  }
}

.week-best__order {

  @media ($(tablet-widths)) {
    width: 50%;
    box-sizing: border-box;
    margin-top: -113px;
    padding-right: 50px;
  }

  @media ($(desktop-widths)) {
    padding-left: 175px;
  }
}
